createdAt: "2019-01-29T13:10:32.232Z"
updatedAt: "2019-01-31T20:23:31.712Z"
type: "MARKDOWN_NOTE"
folder: "a9f7e17827b54e07c9ea"
title: "💬 Transfer Notes: Speed & Fluidity"
tags: [
  "Transfer_Session"
]
content: '''
  # 💬 Transfer Notes: Speed & Fluidity
  
  ## Organization 
  ### File organization
  1. Google Drive Template
  2. Simple Naming Convension
  3. Setup Abstract Project
  4. Setup Invision Project
  5. Gather brand assets
  
  __________________________________________________
  
  ### Plugins
  1. Runner
  2. Rename it
  
  __________________________________________________
  
  
  ### Bindings / Remappings
  
  #### Align
  
  | Action           |      Binding             | 
  |------------------|:------------------------:|
  | Align-Top        | ctrl + top arrow         | 
  | Align-Bottom     | ctrl + bottom arrow      | 
  | Align-Left       | ctrl + left arrow        | 
  | Align-Right      | ctrl + right arrow       | 
  
  
  #### Distribute
  
  | Action                 | Binding                         | 
  |------------------------|:-------------------------------:|
  | Distribute-Horizontal  | ctrl + shift + left arrow       | 
  | Distribute-Vertical    | ctrl + shift + top arrow        | 
  
  
  #### Flip Object
  
  | Action                 | Binding                         | 
  |------------------------|:-------------------------------:|
  | Flip-Horizontal        | ctrl + - (minus key)            | 
  | Flip-Vertical          | ctrl + + (plus key)             | 
  
  
  #### Grouping / Ungrouping
  
  | Action                 | Binding                         | 
  |------------------------|:-------------------------------:|
  | Group                  | ctrl + g                        |
  | Ungroup                | ctrl + t                        |
  
  
  #### Tabs
  
  | Action                 | Binding                         | 
  |------------------------|:-------------------------------:|
  | Windows to Tabs        | ctrl + |                        |
  | Next Tab               | ctrl + ]                        |
  | Previous Tab           | ctrl + ]                        |
  
  
  #### Abstract
  
  | Action                 | Binding                         | 
  |------------------------|:-------------------------------:|
  | Commit                 | ctrl + 1                        |
  
  #### Invision
  
  | Action                 | Binding                         | 
  |------------------------|:-------------------------------:|
  | Commit                 | ctrl + 2                        |
  
  
  #### Zeplin
  
  | Action                 | Binding                         | 
  |------------------------|:-------------------------------:|
  | Commit                 | ctrl + 3                        |
  
  
  
'''
isStarred: false
isTrashed: false
